<!DOCTYPE html>
<html>
<body data-ng-controller="HomeController">
  <script>
    AOS.init();
  </script>
  <!--Beginning of Parallex Divs-->
    <section class="parallex"> 
      <div class="parallex-inner">
        <h2 class="parallexDiv"> WELCOME </h2>
      </div>
    </section>
    <section>
      <div class="parallex-inner">
        <h2 class="parallexDiv"> SPACE </h2>
      </div>
    </section>
    <section data-aos-duration="600" class="secondParallex"> 
      <div class="parallex-inner">
        <h2 class="parallexDiv"> WELCOME </h2>
      </div>
    </section>
    <section>
      <div class="parallex-inner">
        <h2 class="parallexDiv"> SPACE </h2>
      </div>
    </section>
  <!--Ending of Parallex-->
</body>
